<div class="fullheight fullsize" style="position:relative;">
    <div class="content-container">
       <div class="pareidolia-block">
            <h1>Part {{blockCounter}} of {{nBlocks}}</h1>
            <p>Well done, please feel free to take a break before continuing onto to the next section of the experiment.</p>
            <p>
              In the next section, your first task is still to report whether the watch is digital or analogue.
              Your second task is now to report whether you also see <b><i>{{trialType}}</i></b> in each stream of images.
              Below are some examples of these images. Please respond as quickly and accurately as possible.
            </p>
            <!-- <div align="center"> -->
                <!-- <img src={{e1}} alt="Image" style="width:{{imSize}};height:{{imSize}};"> -->
                <!-- <img src={{e2}} alt="Image" style="width:{{imSize}};height:{{imSize}};"> -->
                <!-- <img src={{e3}} alt="Image" style="width:{{imSize}};height:{{imSize}};"> -->
            <!-- </div> -->
        </div>
    </div>
    <div class="button-container">
        <button class="btn btn-primary" id="start-button">Next</button>
    </div>
</div>
