<div class="trial-container">
	<div id="loading" class="loading__container">
		<div class="loading__a"></div>
		<div class="loading__b"></div>
	</div>
	<div class="caption">
		<span>{{loadingMessage}}</span>
	</div>
	{{#each stimulusarray}}
		<!-- {{#with this}} -->
			<!-- <img id="trial-image-{{globalIndex}}" class="trial-image" src="{{stimURL}}" hidden> -->
			<img id="trial-image-{{@index}}" class="trial-image" src="{{this}}" style="display: none;">
		<!-- {{/with}} -->
	{{/each}}
</div>
