<div class="fullheight fullsize" style="position:relative;">
    <div class="content-container">
        <h1>Instructions</h1>
        <p>In this experiment, you will see a grid of images. Your task is to find a particular image (target image) in the grid of images as quickly as possible. The target image category will either be a face, an object that looks like a face, or a car. Examples of each of these target images are shown below.</p>
        <p>You will be told throughout the experiment which target image to search for. Sometimes a target image will be present in the grid and sometimes there will be no target image. If you find a target, press the <kbd>{{responsePresent}}</kbd> key on your keyboard. If you do not find a target, press the <kbd>{{responseAbsent}}</kbd> key on your keyboard. You have a maximum of 5 seconds to respond for each grid. If you do not respond within 5 seconds, the grid will disappear and the next grid will appear automatically. Please make your response by using two different fingers from the same hand. </p>
        <p>Before the experiment begins there will be several practice trials. Click the <kbd>Next</kbd> button when you are ready to proceed to the practice instructions.</p>
        <div align="center">
            <img src={{e1}} alt="Image" style="width:{{imSize}};height:{{imSize}};">
            <img src={{e2}} alt="Image" style="width:{{imSize}};height:{{imSize}};">
            <img src={{e3}} alt="Image" style="width:{{imSize}};height:{{imSize}};">
        </div>
    </div>
    <div class="button-container">
        <button class="btn btn-primary" id="start-button">Next</button>
    </div>
</div>
